################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/sim-tp2/.vs/sim-tp2/FileContentIndex/1d940d1d-2305-4bbf-8f36-5d29bd3ef438.vsidx
/sim-tp2/.vs/sim-tp2/FileContentIndex/26cfb434-953a-4a49-9a38-409bb95b2bb6.vsidx
/sim-tp2/.vs/sim-tp2/FileContentIndex/3be23eb2-0cdc-4581-8849-c11414265537.vsidx
/sim-tp2/.vs/sim-tp2/FileContentIndex/3da43b21-fb73-43c8-8913-ba1806782961.vsidx
/sim-tp2/.vs/sim-tp2/FileContentIndex/77247eb0-7b4f-42b1-a563-612f44a913fb.vsidx
